@using Blazorise.Icons.FontAwesome
@using Blazorise


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Quantum.Projectlexagon.fi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://projectlexagon.fi" target="_blank">
                Projectlexagon.fi
            </a>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/weather">
                <Blazorise.Icon.FontAwesome.Icon Name="IconName.Sun" /> Weather Dashboard
            </NavLink>
        </div>




    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? NavMenuCssClass
    {
        get
        {
            // Jos haluat collapsen vain mobiilissa,
            // lisää breakpoint (esim. d-md-none) classiin.
            return collapseNavMenu ? "collapse d-md-block" : "d-md-block";
        }
    }


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
